body{
    font-family: Lato;
}

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,600');
*{
    font-family: "Lato", sans-serif;
}
.header__logo-img a{
    text-decoration: none;
}
.header{
    margin-top: 25px;
}
.header__browse-btn{
    background-color: #f6f6f6;
}
/*.container__header-row{
    display: flex;
    align-items: center;
}*/
.header__logo-img{
    /*border: 1px solid red;*/
}
.header__logo-txt{
    color: #a4a4a4;
    font-weight: lighter;
    margin: -25% 0 0 40%;
    /*border: 1px solid red;*/
}
.logo__last-letter{
    color:#f16d7f;
    font-weight: 600;
}
.input-group__main{
    margin-bottom: 4%;
}

/* начал что-то переопределять*/
.input-group__main .header__browse-btn > .btn{
    /*padding: 0;
    margin:  0;
    background: none;*/
    /*color: #000;*/
    border: none;
}
/* закончил что-то переопределять*/

.input-group-addon__search-icon{
    color: #a4a4a4;
    background-color: #ffffff;
}
.input-group__dropbtn-acc{
    background-color: #f16d7f;
    color: white;
}
.header__goods-menu-txt{
    font-weight: bold;
    text-transform: uppercase;
    margin: 3%;
    padding: 0 -50%;
    /*border: 1px solid red;*/
}
.header__goods-menu-txt div > a{
    color: black;
    text-decoration: none;
}
.header__goods-menu-txt div > a:hover{
    color: #f16d7f;
}
.header__goods-menu-txt_women{
    padding-left: 10px;
    padding-right: 10px;
    /*border: 1px solid red;*/
}
.header__goods-menu-txt_accessories{
    padding-right: 10%;
    /*border: 1px solid red;*/
}
.header__category li{
    text-decoration: none;
    list-style: none;
}
.header__category a:hover{
    color: red;
}
.container-fluid__newArrivals{
    background-color: #f8f3f4;
    border-bottom: 1px solid #ececec;
}
.container-fluid__newArrivals_container{
    height: 150px;
}

.arrivals__new{
    text-transform: uppercase;
    color: #f27f8f;
    font-size: 24px;
    font-weight: bolder;
    margin-top: 4%;

}
.arrivals__new a{
    text-decoration: none;
    color: #f16d7f;
}
.arrivals__new a:hover{
    color: #de4d61;
}
.arrivals__breadcrumb{
    /*width: 25%;*/
    /*border: 1px solid green;*/
    text-transform: uppercase;
    margin-top: 4%;
}
.arrivals__breadcrumb a{
    text-decoration: none;
    color: #777676;
}
.arrivals__breadcrumb a:hover{
    color: #f16d7f;
    font-weight: 600;
}
.img-fluid{
    max-width: 100%;
}

.carousel-inner .item > img{
    display: block;
    margin: 0 auto;
    width: auto;
}
/*.carousel-inner__style{
    background-color: #f7f7f7;
}*/
