body{
    font-family: Lato;
}

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,600');
*{
    font-family: "Lato", sans-serif;
}

.subscribe__container-fluid{
    height: 600px;
    background-image: url(../img/subscribe.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    /*opacity: 0.5;*/
    display: flex;
    align-items: center;
}
.subscribe__container-fluid_container-md6 > p{
    width: 390px;
    color: #303031;
    font-style: italic;
    font-size: 16px;
}
.input-group-btn_subscribe{
    width: 0;
}
.subscribe-btn{
    color: #ffffff;
    background-color: #f16d7f;
    border-top-right-radius:75px;
    border-bottom-right-radius:75px
}
.subscribe-btn:hover{
    background-color: #b55a67;
}

.subscribe__container-fluid_container input[type="text"]{
    background-color: #e1e1e1;
    border: none;
    border-top-left-radius:75px;
    border-bottom-left-radius:75px;
    padding: 7px 12px;
    transition-property: background-color;
    transition-timing-function: linear;
    transition-duration: 2s;

}
.subscribe__container-fluid_container input[type="text"]:hover{
    background-color: #f8f3f4;
}
/*.subscribe__container-fluid_container-md5 > p{
    color: #303031;
    font-style: italic;
    font-size: 16px;
}*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #616162;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #616162;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #616162;
}
:-moz-placeholder { /* Firefox 18- */
  color: #616162;
}
